.heroCarousel
  .heroCarouselWindow
    ul
      - for (var i = 1; i < 11; ++i) {
      li
        .heroCarouselImage
          a(href='replaceMe')
            img(data-src='example.com/278x368/mo')
      - }