.heroCarousel
  .heroCarouselWindow
    ul
      li
        .heroCarouselImage
          a(href='replaceMe')
            img(data-src='example.com/278x368/mo')
        .heroCarouselContent
          .heroCarouselHeader @Html.Ipsum.h4(4)
          .heroCarouselText
            @Html.Ipsum.p(1, 3)
          .heroCarouselButton
            a(href='') View Now &gt;
      li
        .heroCarouselImage
          a(href='replaceMe')
            img(data-src='example.com/278x368/mo')
        .heroCarouselContent
          .heroCarouselHeader @Html.Ipsum.h4(4)
          .heroCarouselText
            @Html.Ipsum.p(1, 3)
          .heroCarouselButton
            a(href='') View Now &gt;
      li
        .heroCarouselImage
          a(href='replaceMe')
            img(data-src='example.com/278x368/mo')
        .heroCarouselContent
          .heroCarouselHeader @Html.Ipsum.h4(4)
          .heroCarouselText
            @Html.Ipsum.p(1, 3)
          .heroCarouselButton
            a(href='') View Now &gt;
