!!! 5
html(lang='en')
  head
    meta(charset='utf-8')
    title Hero Carousel Component Tests
    link(rel='stylesheet', href='css/style.css', media='screen')
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js')
    script(src='../heroCarousel.js')
    script(src='javascript/test.js')
  body
    #micrositeContainer
      #micrositeContainerInner
        #micrositeContainerCompress
          #micrositeHeader
            h2 Header
          #micrositeContent
            #micrositeContentColumnFull
              include heroCarousel
            #micrositeContentColumnLeft
              include heroCarouselLeftCol
            #micrositeContentColumnRight
              include heroCarouselRightCol
          #micrositeFooter
            h2 Footer